.imprint-link {
  font-size: 0.8rem; /* Smaller font size */
  color: #666; /* Lighter color for less emphasis */
  text-decoration: none; /* Remove underline */
}

.imprint-link:hover {
  color: #999; /* Slightly change color on hover */
}

/* Hover effect for product cards */
.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.025); /* Slightly enlarge the card */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Add a deeper shadow */
  border-color: #0d6efd; /* Optional: Change border color to Bootstrap's primary color */
}

/* Change cursor to pointer for better UX */
.card {
  cursor: pointer;
}