---
layout: default
title: Home
---
<h2>Products</h2>

 <div class="themes">

    <h3>
      <a href="https://assetstore.unity.com/packages/tools/physics/convexify-245029?aid=1101l3w5RJ&pubref=hp">Convexify</a>
    </h3>
    <img src="\assets\convexify_AS_banner.webp" alt="Convexify">
    A cross-platform implementation of the VHACD algorithm to generate convex compound colliders at runtime.
    <p></p>
    <p>
      <a href="https://assetstore.unity.com/packages/tools/physics/convexify-245029?aid=1101l3w5RJ&pubref=hp" class="btn">Store</a>
      <a href="https://www.doji-tech.com/convexify-docs/" class="btn">Docs</a>
      <a href="https://www.doji-tech.com/convexify-demo/" class="btn">Demo</a>
    </p>

    <h3>
      <a href="https://assetstore.unity.com/packages/tools/utilities/windows-installer-for-unity-215960?aid=1101l3w5RJ&pubref=hp">Windows Installer for Unity</a>
    </h3>
    <img src="\assets\wix-for-unity_AS_card_v1.1.0.webp" alt="Windows Installer for Unity">
    Allows developers to easily create Windows Installer (.msi) packages for their Unity applications.
    <p></p>
    <p>
      <a href="https://assetstore.unity.com/packages/tools/utilities/windows-installer-for-unity-215960?aid=1101l3w5RJ&pubref=hp" class="btn">Store</a>
      <a href="https://doji-technologies.github.io/windows-installer-for-unity-docs" class="btn">Docs</a>
    </p>

    <h3>
      <a href="https://assetstore.unity.com/packages/tools/utilities/iconic-ico-utilities-235389?aid=1101l3w5RJ&pubref=hp">Iconic (.ico Utilities)</a>
    </h3>
    <img src="\assets\ico_utilities_AS_banner.webp" alt="Iconic (.ico Utilities)">
    A cross-platform utility for reading and writing .ico files.
    <p></p>
    <p>
      <a href="https://assetstore.unity.com/packages/tools/utilities/iconic-ico-utilities-235389?aid=1101l3w5RJ&pubref=hp" class="btn">Store</a>
      <a href="https://www.doji-tech.com/iconic-docs/" class="btn">Docs</a>
      <a href="https://www.doji-tech.com/iconic-demo/" class="btn">Demo</a>
    </p>

</div>

<!--
<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>

    <time datetime="{{ post.date | date_to_xmlschema }}" class="post-date">{{ post.date | date_to_string }}</time>

    {{ post.content }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->